/* @import url("../fonts/fonts.css"); */
body {
    margin: 0;
    padding: 0 0 70px;
    position: relative;
    font-size: 14px;
    color: #333333;
    overflow-x: hidden;
    background-color: #FBFBFB;
    font-family: 'Helvetica';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1312px;
}

.color_bg {
    background-color: #FAFAF8;
    border: 1px solid #707070;
}

/*breadcrumbs_banner */


.breadcrumbs_banner {
    padding: 130px 0 65px;
}

.breadcrumbs_banner ol {
    margin-bottom: 0;
    justify-content: center;
}

.breadcrumbs_banner ol .breadcrumb-item+.breadcrumb-item {
    padding-left: 30px;
}

.breadcrumbs_banner ol li,
.breadcrumbs_banner ol li a {
    font-size: 40px;
    font-weight: 400;
    color: #707070;
}

.breadcrumbs_banner ol li a {
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: #707070;
    text-decoration-thickness: 3px;
    font-weight: 400;
}

.breadcrumbs_banner ol .breadcrumb-item+.breadcrumb-item::before {
    padding-right: 30px;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 28px;
    margin-bottom: 62px;
}

.social_links li a {
    display: flex;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 50%);
    transition: ease-in-out 0.4s;
}

.social_links li a:hover {
    transform: translateY(-7px);
}

/***** form style ****/
.margin-top {
    margin-top: 80px;
}

.sign_up {
    padding: 65px;
    max-width: 100%;
    margin: auto;
}

.form_style .StripeElement {
    color: #050605 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    padding: 12px 16px 8px !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    width: 100% !important;
    height: 41px !important;
    border: 1px solid #dee2e6 !important;
    margin-bottom: 10px !important;
}

.form_style h3 {
    color: #050605;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
}

.sign_up p a.log_in {
    color: #7E6DD4;
    font-size: 14px;
    font-weight: 700;
    padding-left: 29px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.sign_up p {
    color: rgb(5 6 5 / 65%);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.form_style label {
    color: #324a6d;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.form_style input.form-control {
    color: #050605;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
}

.form_style input.form-control:focus,
.form_style input.form-control:focus-visible {
    outline: none;
    box-shadow: none;
}

.form_style .strength_pwd {
    /* color: #050605; */
    margin-bottom: 0;
}

.strenght_field span {
    padding: 1px;
    background: #41AA4F;
    width: 24%;
    display: inline-block;
}

.form_style .form-check {
    margin-top: 20px;
}

.form_style .form-check label {
    margin-bottom: 0;
}

.form_style .form-check-input[type=checkbox] {
    border-radius: 0.25em;
    border-color: rgb(112 112 112 / 25%);
    border-width: 2px;
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.form_style .form-check label a {
    color: rgb(8 15 38 / 62%);
    text-decoration: underline;
    text-underline-offset: 3px;
    padding: 0 9px;
    text-decoration-color: rgb(8 15 38 / 62%);
    transition: 0.5s;
}

.form_style .form-check label a:hover {
    color: #050605;
}

.submit_btn {
    text-align: center;
}

.submit_btn {
    /* width: 307px; */
    padding: 10px 27px;
    font-size: 16px;
    width: 100%;
    /* color: #707070; */
    color: #fff;
    border-radius: 6px;
    /* border: 1px solid #707070; */
    border: 2px solid #B1903F;
    margin-top: 28px;
    /* background-color: #fff; */
    background-color: #B1903F;
    transition: ease-in-out 0.5s;
}

.submit_btn:hover {
    background-color: #fff;
    color: #B1903F;
}

.form_style .color_bg {
    background-color: #fbfbfb;
    border: 0;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.form_style .w-48 {
    width: 49%;
}

.color_red {
    color: red;
}

/* /title/ */
.title_head h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #282828;
    margin-bottom: 48px;
    padding-top: 60px;
}

/******** header ********/
header {
    padding: 12px 0;
    box-shadow: 2px 1px 6px #cfcfcf;
}

header .container-fluid {
    justify-content: space-between;
}

header button:focus-visible {
    outline: none;
    box-shadow: none;
}

header button:focus {
    outline: none;
    box-shadow: none !important;
}

header .collapse {
    justify-content: end;
}

.header_nav .navbar-brand {
    width: 125px;
}

header .navbar-nav {
    gap: 30px;
}

header .navbar-nav li a {
    font-size: 20px;
    color: #707070;
    font-weight: 400;
}

header .navbar-nav li a:hover {
    color: #050605;
}

header a.navbar-brand {
    color: #707070 !important;
    font-size: 40px;
    line-height: 45px;
}

/********* footer **********/
footer {
    background-color: #B1903F;
    padding: 12px 0;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

/**** Software Market Language *********/
.language_banner {
    margin-bottom: 60px;
}

.market_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #707070;
    background-color: #FAFAF8;
    padding: 29px 38px;
    gap: 20px;
}

.market_card .market_card_img {
    width: 26.5%;
    height: 200px;
    border: 1px solid #707070;
    background-color: #F5F4F0;
}

.market_card .market_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.creat_btn a {
    padding: 11px 62px;
    font-size: 16px;
    /* color: #707070; */
    color: #fff;
    border-radius: 6px;
    /* border: 1px solid #707070; */
    border: 1px solid #B1903F;
    background-color: #B1903F;
    transition: ease-in-out 0.5s;
    display: inline-block;
}

.creat_btn a:hover {
    background-color: #fff;
    color: #B1903F;
}

.market_card_content {
    width: 37%;
}

.market_card_content p {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/******** Select Plan *******/
.color_bg {
    background-color: #FAFAF8;
    border: 1px solid #707070;
}

/* .role_banner {
    padding-bottom: 50px;
} */
.role_banner h2 {
    font-size: 30px;
    color: #282828;
    font-weight: 600;
    text-align: center;
    max-width: 768px;
    margin: 20px auto;
    border-top: 1px solid #050605;
    padding-top: 40px;
}

.role_banner p {
    max-width: 991px;
    margin: auto;
    color: #707070;
    font-size: 16px;
    text-align: center;
}

.plan_banner .color_bg {
    background-color: transparent;
    border: none;
}

.plan_content {
    position: relative;
    min-height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;
    padding: 50px 30px 150px;
}

.plan_card {
    max-width: 1045px;
    margin: 75px auto 75px;
}

.plan_content h3 {
    color: #282828;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    text-align: left;
}

.plan_content p {
    color: #707070;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.plan_content ul {
    margin-left: 10px;
}

.plan_content ul li {
    position: relative;
    padding-left: 15px;
}

.plan_content ul li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* background-color: #707070; */
    background-color: #B1903F;
}

.plan_content ul li p {
    margin-bottom: 0;
}

.plan_content .creat_btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
}

.plan_banner .plan_content a {
    padding: 8px 52px;
    text-align: center;
    width: 100%;
    background-color: #B1903F;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #B1903F;
}

.plan_banner .plan_content a:hover {
    background-color: transparent;
    color: #B1903F;
}

.inner_plan_banner {
    background: url("../images/banner_plan.png") no-repeat;
    background-size: cover;
}

.inner_banner h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    padding: 100px 0;
}

/*********** Pay **********/
.pay_banner p {
    color: rgb(5 6 5 / 100%);
    font-size: 20px;
}

.pay_banner .input-group {
    justify-content: space-between;
}

.pay_banner .w-48 {
    width: 49%;
}

.form_style .w-33 {
    width: 32%;
}

.form_style select.form-control {
    color: #050605;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
}

.pay_banner select.form-control {
    background: url("../images/dropdown.png") no-repeat, #fff;
    background-position: calc(100% - 4px);
}

.form_style select.form-control:focus,
.form_style select.form-control:focus-visible {
    outline: none;
    box-shadow: none;
}

.pay_banner .submit_btn input[type="submit"] {
    padding: 9px 44px;
}

.payment_price {
    margin: 20px 0 40px;
}

/******** Thank You ***********/

.thanku_banner .payment_price {
    margin-bottom: 30px;
}

.pay_banner .thnaku_message {
    font-size: 14px;
    color: #707070;
    padding-right: 10px;
    margin-bottom: 49px;
}

.thanku_banner .creat_btn {
    text-align: center;
}

/****** GC Home Tabs *****/
.globle_tabs ul.nav-tabs {
    justify-content: center;
    gap: 20px;
}

.globle_tabs .creat_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 55px;
}

.globle_tabs .creat_btn a {
    padding: 17px 85px;
}

.globle_tabs ul.nav-tabs li button,
.globle_tabs ul.nav-tabs li a {
    color: #707070;
    background: transparent;
    padding: 17px 20px;
    font-size: 22px;
    border: 1px solid #707070;
    width: 307px;
    text-align: center;
}

.globle_tabs ul.nav-tabs li button:hover,
.globle_tabs ul.nav-tabs li a:hover {
    background-color: #FAFAF8;
}

.globle_tabs ul.nav-tabs li button.active,
.globle_tabs ul.nav-tabs li a.active {
    background-color: #FAFAF8;
    padding-bottom: 36px;
    border-bottom: 0;
}

.globle_tabs ul.nav-tabs li button:focus,
.globle_tabs ul.nav-tabs li button:focus-visible {
    outline: none;
    box-shadow: none;
}

.project_detail {
    padding: 42px;
}

.project_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.project_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
}

.project_status .dropdown button {
    padding: 0;
    border: none;
    font-size: 22px;
    color: #707070;
    background-color: transparent;
}

.project_status .dropdown button::after {
    display: none;
}

.project_status p {
    color: #707070;
    margin-bottom: 0;
    font-size: 22px;
}

.project_status .dropdown button {
    width: fit-content;
}

.project_head h2 {
    color: #707070;
    font-size: 30px;
    margin-bottom: 0;
    width: calc(100% - 300px);
}

.project_head h2 span {
    position: relative;
    padding-left: 14px;
    margin-left: 3px;
}

.project_head h2 span::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 30px;
    background-color: #707070;
    top: 2px;
}

.project_detail p {
    font-size: 21px;
    color: #707070;
    line-height: 33px;
    margin-top: 10px;
    margin-bottom: 0;
}

.project_status p.view_count {
    font-size: 22px;
    margin-top: 0;
}

.project_status p.view_count span {
    margin-left: 6px;
}


/******* Contact table *******/
.contact_list {
    padding: 50px 12px 75px;
}

.search_form form {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid rgb(112 112 112 / 25%);
    max-width: 355px;
    padding-bottom: 3px;
    margin-left: auto;
}

.search_form form input[type="search"] {
    border: none;
    background: transparent;
    width: calc(100% - 30px);
    font-size: 14px;
    font-weight: 400;
    color: #050605;
}

.search_form form input[type="search"]:focus,
.search_form form input[type="search"]:focus-visible,
.search_form form button:focus,
.search_form form button:focus-visible {
    outline: none;
    box-shadow: none;
}

.search_form form button {
    border: none;
    background: transparent;
}

.list_table table.table {
    max-width: 1100px;
    margin: 50px auto 0;
}

.list_table th {
    font-size: 17px;
    font-weight: 500;
    color: #7B7B7B;
    border-bottom: none;
    padding-bottom: 35px;
}

.list_table td {
    color: #464242;
    font-weight: 500;
    font-size: 17px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ECECEA;
    min-width: 260px;
}

/********** New Project *******/
.new_project .color_bg {
    padding: 42px 42px 152px;
}

.new_project h2 {
    font-size: 30px;
    color: #707070;
    font-weight: 400;
    margin-bottom: 28px;
}

.form_style textarea.form-control {
    color: #050605;
    font-weight: 400;
    font-size: 14px;
    border-width: 1;
    border-color: #707070;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 3px;
    border-radius: 0;
    background-color: transparent;
    min-height: 115px;
}

.form_style hr {
    margin-top: 9px;
}

.new_project .form_style .form-check {
    margin-top: 0;
}

.new_project .form_style .form-check-input:checked {
    background-color: #050605;
    border-color: #050605;
}

.new_project .form_style .form-check-input:focus,
.new_project .form_style .form-check-input:focus-visible {
    outline: none;
    box-shadow: none;
}

.new_project .form_style .input-group {
    border-bottom: 1px solid rgb(112 112 112 / 25%);
}

.new_project .form_style .input-group .form-check {
    margin-bottom: 0;
}

.new_project .form_style .upload_files .input-group {
    border-bottom: none;
}

.new_project .form_style .upload_files {
    border-bottom: 1px solid rgb(112 112 112 / 25%);
}

.new_project .form_style .upload_files input[type=file] {
    width: 100%;
    margin-bottom: 15px;
}

.new_project .form_style {
    padding-left: 22px;
    padding-right: 22px;
}

.project_name_banner .creat_btn {
    margin-top: 113px;
}

/********** Profile css ********/
.profile_banner {
    margin-top: 20px;
}

.profile_banner .form_style .form-check-input[type=checkbox] {
    margin-top: 4px;
    border-radius: 0;
    border-color: #707070;
    border-width: 1px;
}

.profile_banner .form_style .form-check label {
    font-size: 14px;
    color: #050605;
}

.profile_banner .creat_btn {
    text-align: center;
}

.profile_banner .creat_btn a {
    padding: 17px 127px;
}