/* 

@font-face {
    font-family: 'Hel1-Bold';
    src: url('../fonts/genfonts/HelveticaNeueW01-75Bold.woff2') format('woff2'),
        url('../fonts/genfonts/HelveticaNeueW01-75Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hel-Light';
    src: url('../fonts/genfonts/HelveticaNeueW01-45Light.woff2') format('woff2'),
        url('../fonts/genfonts/HelveticaNeueW01-45Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hel-55Roman';
    src: url('../fonts/genfonts/HelveticaNeueW01-55Roman.woff2') format('woff2'),
        url('../fonts/genfonts/HelveticaNeueW01-55Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/genfonts/icomoon.woff2') format('woff2'),
        url('../fonts/genfonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hel-500';
    src: url('../fonts/genfonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../fonts/genfonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hel-bold';
    src: url('../fonts/genfonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../fonts/genfonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

 */