@media screen and (max-width: 1312px) {
    .globle_tabs ul.nav-tabs {
        justify-content: flex-start;
        gap: 0px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding-bottom: 12px;
    }
    .globle_tabs.account_tabs ul.nav-tabs {
        overflow: inherit;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 1199px) {
    .image_banner_content {
        padding-left: 0;
        padding-top: 30px;
    }
    .banner_img {
        height: 450px;
    }
    .banner_img img {
        max-width: 100%;
    }
}
@media screen and (max-width: 1180px) {
    .creat_btn a {
        padding: 12px 43px;
    }
}
@media screen and (max-width: 1140px) {
    .breadcrumbs_banner ol li, .breadcrumbs_banner ol li a {
        font-size: 23px;
    }
    .breadcrumbs_banner {
        padding: 80px 0 65px;
    }
    .title_head h1 {
        margin-bottom: 19px;
        padding-top: 40px;
        font-size: 35px;
    }
    .margin-top {
        margin-top: 40px;
    }
    .inner_banner h1 {
        font-size: 40px;
    }
    .list_table td {
        color: #464242;
        font-weight: 500;
        font-size: 17px;
        padding-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid #ECECEA;
        min-width: 158px;
    }
    .choose_baner h1 {
        font-size: 46px;
    }
    .banner_heading {
        font-size: 46px;
    }
    .home_content h1 {
        font-size: 40px;
    }
    .account_banner h1 span::after {
        bottom: -23px;
    }
}

@media screen and (max-width: 1024px) {
    .globle_tabs ul.nav-tabs li button, .globle_tabs ul.nav-tabs li a {
        padding: 7px 12px;
        font-size: 18px;
        width: 230px;
    }
    .globle_tabs ul.nav-tabs li button.active, .globle_tabs ul.nav-tabs li a.active {
        /* padding-bottom: 23px; */
    }
    .new_project .color_bg {
        padding: 22px 22px 62px;
    }
    .globle_tabs.account_tabs ul.nav-tabs li button.active, .globle_tabs.account_tabs ul.nav-tabs li a.active {
        padding: 7px 20px;
    }
    .project_name_banner .proposal_list li .propocal_card .color_bg {
        padding-bottom: 22px;
    }
}
@media screen and (max-width: 991px) {
    header .navigation {
        position: absolute;
        width: 100%;
        top: 89px;
        left: 0;
        z-index: 999;
    }
    header .navbar-nav {
        gap: 0;
        background: #000;
        padding: 20px;
    }
    header .navbar-nav li a {
        padding: 5px 12px;
        display: block;
        color: #fff;
        border-bottom: 1px solid #222;
    }
    header .navbar-nav li:last-child a {
        border-bottom: 0px solid #222;
    }
    header .navbar-nav li a:hover {
        color: #fff;
        background: #b1903f;
    }
    .creat_btn {
        width: 100%;
    }
    .market_card_content {
        width: calc(100% - 300px);
    }
    .market_card .market_card_img {
        width: 267px;
    }
    .plan_card .row {
        justify-content: center;
        gap: 24px 0;
    }
    .plan_card .creat_btn {
        text-align: center;
    }
    .plan_content h3 {
        margin-bottom: 30px;
    }
    .plan_content {
        padding-bottom: 128px;
    }
    .payment_price {
        margin: 30px 0;
    }
    .project_status {
        width: 100%;
        justify-content: flex-start;
    }
    .account_tabs .project_status {
        justify-content: end;
    }
    .project_head {
        flex-direction: column-reverse;
        gap: 11px;
    }
    .project_head h2 {
        width: 100%;
    }
    .project_detail p {
        font-size: 16px;
        line-height: 23px;
    }
    .project_detail {
        padding: 25px;
    }
    .project_head h2 {
        font-size: 24px;
    }
    .plan_banner .plan_content a {
        padding: 11px 73px;
    }
    .globle_tabs ul.nav-tabs li button, .globle_tabs ul.nav-tabs li a {
        width: max-content;
    }
    .globle_tabs.account_tabs ul.nav-tabs li button, .globle_tabs.account_tabs ul.nav-tabs li a {
        /* width: ; */
    }
    .globle_tabs ul.nav-tabs li button, .globle_tabs ul.nav-tabs li a {
        padding: 7px 20px;
    }
    .choose_baner .row {
        gap: 24px 0;
    }
    .about_banner .row {
        flex-direction: column-reverse;
        gap: 40px 0;
    }
    .services_banner {
        margin: 60px 0;
    }
    .contact_details .about_content {
        padding-left: 0px;
    }
    .about_banner {
        margin: 60px 0;
    }
    .service_banner_img {
        height: 350px;
    }
    .story_banner .row {
        flex-direction: column;
    }
    .story_banner .about_content {
        padding-right: 0px;
        padding-left: 0px;
    }
    .story_benefit {
        margin-bottom: 60px;
    }
    .testimonial_banner {
        margin-bottom: 50px;
    }
    .account_banner h1 {
        padding: 80px 0;
    }
    .project_main_banner .row {
        flex-direction: column-reverse;
        gap: 24px 0;
    }
    .plan_banner {
        margin: 60px 0;
    }
    .bid_banner  {
        margin-bottom: 0 !important;
    }
    .proposal_detail {
        padding-left: 0px;
    }
    .propocal_card .project_head {
        flex-direction: inherit;
    }
}
@media screen and (max-width: 768px) {
    .breadcrumbs_banner ol li, .breadcrumbs_banner ol li a {
        font-size: 16px;
    }
    .breadcrumbs_banner ol .breadcrumb-item+.breadcrumb-item {
        padding-left: 10px;
    }
    .breadcrumbs_banner ol .breadcrumb-item+.breadcrumb-item::before {
        padding-right: 10px;
    }
    .breadcrumbs_banner ol li a {
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
    .breadcrumbs_banner {
        padding: 60px 0 35px;
    }
    .sign_up {
        padding: 40px 20px;
    }
    .title_head h1 {
        margin-bottom: 38px;
        padding-top: 60px;
        font-size: 32px;
    }
    .social_links {
        margin-bottom: 31px;
    }
    .submit_btn input[type="submit"] {
        padding: 8px 57px;
    }
    .market_card_content {
        width: 100%;
    }
    .market_card {
        justify-content: center;
        padding: 30px 20px;
    }
    .creat_btn {
        text-align: center;
    }
    .creat_btn a {
        padding: 12px 33px;
        font-size: 18px;
    }
    
    .market_card_content p {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    .pay_banner p {
        font-size: 16px;
    }
    .new_project .form_style {
        padding-left: 0px;
        padding-right: 0px;
    }
    .project_name_banner .creat_btn {
        margin-top: 53px;
    }
    .new_project h2 {
        font-size: 26px;
    }
    .plan_content {
        padding-bottom: 100px;
        padding-top: 30px;
    }
    .plan_content .creat_btn {
        position: absolute;
        bottom: 25px;
    }
    .profile_banner .creat_btn a {
        padding: 12px 67px;
    }
    .testimonial_banner .row {
        justify-content: center;
        gap: 24px 0;
    }
    .project_top_banner .banner_heading {
        text-align: center;
    }
    .project_top_banner .sub_head {
        text-align: center;
    }
    .project_top_banner .creat_btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .filter_project form select {
        width: 49%;
    }
    .filter_project form {
        gap: 15px 0;
    }
    .add_contact .globle_submit {
        order: 1;
        margin-top: 25px;
    }
    .add_contact .search_form {
        width: 100%;
    }
    .add_contact .search_form form {
        max-width: 100%;
    }
    .add_contact {
        justify-content: center;
    }
    .propocal_card .color_bg {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 575px) {
    /* .plan_content {
        text-align: center;
    } */
    .globle_tabs ul.nav-tabs li button, .globle_tabs ul.nav-tabs li a {
        font-size: 14px;
    }
    .plan_content {
        padding-bottom: 30px;
    }
    .plan_content .creat_btn {
        position: unset;
        margin-top: 30px;
        transform: none;
        width: 100%;
    }
    .plan_content .creat_btn a {
        padding: 12px 78px;
    }
    .breadcrumbs_banner ol li, .breadcrumbs_banner ol li a {
        font-size: 11px;
    }
    .breadcrumbs_banner {
        padding: 43px 0 25px;
    }    
    .form_style .w-33, .form_style .w-25 {
        width: 100% !important;
    }
    .pay_banner .submit_btn input[type="submit"] {
        padding: 10px 26px;
    }
    .pay_banner .w-48 {
        width: 100%;
    }
    .form_style .w-48 {
        width: 100%;
    }
    .steps_banner {
        width: 100%;
        height: auto;
        border: none;
        margin: 30px auto 70px;
    }
    
    .steps_pill {
        width: 100%;
        gap: 20px;
        overflow-x: auto;
        position: relative;   
        justify-content: flex-start;
    }
    .steps_pill::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        top: 58px;
        background: #d5d5d5;
    }
    .steps_pill li a {
        box-shadow: 0px 3px 11px rgba(131,100,196,.2);
        z-index: 999;
        position: relative;
    }
    .steps_pill li {
        position: unset;
        padding: 20px 0;
    }
    .step_content {
        justify-content: center;
        margin-top: 30px;
    }
    .step_content li {
        position: unset;
        transform: none;
        width: 100%;
    }
    .step_content li p {
        width: 100%;
        padding: 0;
    }
    .about_img .left_img {
        height: 350px;
        width: 100%;
        margin-bottom: 20px;
    }
    .about_img .right_img {
        width: 100%;
        height: 397px;
        padding-bottom: 0;
    }
    .mission_banner {
        margin-bottom: 30px;
    }
    .banner_heading {
        font-size: 40px;
    }
    .sub_head {
        font-size: 36px;
    }
    .filter_project form select {
        width: 100%;
    }
    .view_product_content .black_btn a {
        display: block;
        width: 100%;
        text-align: center;
    }
    .view_product_content .project_status {
        flex-wrap: wrap;
        gap: 15px;
    }
    .award_review .w-50 {
        width: 100% !important;
    }
    .award_review {
        flex-wrap: wrap;
        gap: 10px 0;
    }
    .proposal_files li {
        flex: 1 1 100%;
    }
    .propocal_card .project_head {
        gap: 5px 0;
    }
    .propocal_card .project_head span {
        padding-left: 0;
    }
    .propocal_card .project_head span::before {
        display: none;
    }
}
@media screen and (max-width: 350px) {
    .strenght_field span {
        width: 23%;
    }
    .submit_btn input[type="submit"] {
        padding: 8px 37px;
        font-size: 18px;
    }
}